body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
    background-color: rgb(223, 209, 188);
}


h1 {
    text-align: center;
}


.titulo-destaque {
    text-decoration: underline;
}

.menu-destaque {
    text-align: center;
    padding: 0px;
}